<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Helooooo</h1>
    <button>
        <a href="{{url_for('bert')}}">

            <h1>BERT Summarizer Model</h1>

        </a>
    </button>
    <button>
        <a href="{{url_for('nlp')}}">

            <h1>NLP Summarizer Model</h1>

        </a>
    </button>

</body>

</html>