<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn{
            padding: 20px 50px 20px 50px;
            border : none;
            color: white;
            background-color: crimson;
        }
    </style>
</head>
<body>
   <form action="http://127.0.0.1:5000/news" method="post"  class="form">
        <input class="btn" type="submit" name="submit_a" value="Java"> 
        <input class="btn" type="submit" name="submit_b" value="Python">
   </form>

</body>
</html>